<div class="container">
    <h1 class="center-block">Face Detection</h1>

    <p *ngIf="!request">
        <em>Loading request data...</em>
    </p>
    <div *ngIf="request">
        <div class="row">
            <div class="col-md-3">
                <label>Id</label>
            </div>
            <div class="col-md-3">{{request.id}}</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Name</label>
            </div>
            <div class="col-md-3">{{request.name}}</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Creation time</label>
            </div>
            <div class="col-md-3">{{request.creationTime?.replace("T"," ")}}</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Completion time</label>
            </div>
            <div class="col-md-3">{{request.completionTime?.replace("T"," ")}}</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Status</label>
            </div>
            <div class="col-md-3">{{request.status}}</div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="input">Input image</label>
            </div>
            <div class="col-md-3">
                <div class="slider">
                    <div class="slide">
                        <img src="{{request.fileLink.url}}"/>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3>Results</h3>
            <table class="table" *ngIf="request.results">
                <thead>
                    <tr>
                        <th>Detection type</th>
                        <th>faces found</th>
                        <th>startX</th>
                        <th>endX</th>
                        <th>startY</th>
                        <th>endY</th>
                        <th>area</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of request.results">
                        <td><b>{{result.detectionTypeName}}</b></td>
                        <td><b>{{result.faceRectangles.length}}</b></td>
                        <td>
                            <div class="row" *ngFor="let face of result.faceRectangles">
                                {{face.startX}}
                            </div>
                        </td>
                        <td>
                            <div class="row" *ngFor="let face of result.faceRectangles">
                                {{face.endX}}
                            </div>
                        </td>
                        <td>
                            <div class="row" *ngFor="let face of result.faceRectangles">
                                {{face.startY}}
                            </div>
                        </td>
                        <td>
                            <div class="row" *ngFor="let face of result.faceRectangles">
                                {{face.endY}}
                            </div>
                        </td>
                        <td>
                            <div class="row" *ngFor="let face of result.faceRectangles">
                                {{face.area}}
                            </div>
                        </td>
                        <td>
                            <div class="slider">
                                <div class="slide">
                                    <img src="{{result.image.url}}" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<alert></alert>