<div class="container">
    <h1>Face Detection Request : {{id}}</h1>

    <p *ngIf="!request"><em>Loading request data...</em></p>
    <div *ngIf="request">
        <div>
            <label for="name">Name</label>
            <div id="name">{{request.name}}</div>
        </div>
        <div>
            <label for="input">Input image</label>
            <img id="input" />
            <img src="{{request.fileLink.url}}" />
        </div>

        <div>
            <label for="haar">Faces detected by Haar</label>
            <div id="haar">{{request.haar}}</div>
            <img src="{{haarLink.url}}" />
        </div>

        <div>
            <label for="dnn">Faces detected by Deep Neural Network</label>
            <div id="dnn">{{request.dnn}}</div>
            <img src="{{dnnLink.url}}" />
        </div>
    </div>

</div>

<alert></alert>