@{
    ViewData["Title"] = "Master Thesis";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>This website is a part of Master Degree Project created by Mateusz Szymkowiak</h4>

<p>
    Sections:
    <ul>
        <li>
            <b>Detections</b> - allows to test different face detectors with picked data set. Avaiable face detectors:
            <ul>
                <li>
                    Azure Cognitive Services
                </li>
                <li>
                    Amazon Rekognition
                </li>
                <li>
                    Open Cv Deep Neural Network
                </li>
                <li>
                    Open Cv Haar Face Detector
                </li>
            </ul>
        </li>
        <li>
            <b>People</b> - allows to create 'people identities' that will be next used as datasets for training <b>Neural Networks</b>
        </li>
        <li>
            <b>Neural networks</b> - allows to create neural networks with picked previously created <b>People</b>. Avaiable face recognizers:
            <ul>
                <li>
                    Azure Cognitive Services
                </li>
                <li>
                    OpenCv Fisher Alghoritm
                </li>
                <li>
                    OpenCv Eigen Alghoritm
                </li>
                <li>
                    OpenCv LBPH Alghoritm
                </li>
            </ul>
        </li>
        <li>
            <b>Recognition</b> - allows to test created <b>Neural Networks</b> with picked dataset
        </li>
    </ul>

</p>