<h1>Person</h1>

<p *ngIf="!person">
    <em>Loading person data...</em>
</p>
<div *ngIf="person">

    <div class="row">
        <div class="col-md-3">
            <label for="name">Id</label>
        </div>
        <div id="id" class="col-md-3">
            {{person.id}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label for="name">Name</label>
        </div>
        <div id="name" class="col-md-3">
            {{person.name}}
        </div>
    </div>

    <div>
        <table class="table" *ngIf="person.fileLinks">
            <thead>
            <tr>
                <th>Filename</th>
                <th>Preview</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of person.fileLinks">
                <td>{{file.fileName}}</td>
                <td>
                    <div class="slider">
                        <div class="slide">
                            <img src="{{file.url}}"/>
                        </div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>