@model IEnumerable<Domain.SensorsReading.DTO.Reading>

@{
    ViewBag.Title = $"Readings for {Model.}";
    Layout = "_Layout";
}

<h2>Readings for </h2>

<table class="table" *ngIf="requests">
    <thead>
    <tr>
        <th>Id</th>
        <th>Humidity</th>
        <th>Temperature</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reading in Model.ToList())
    {
        <tr>
            <td>@reading.Id</td>
            <td>@reading.Humidity</td>
            <td>@reading.Temperature</td>
            <td>@reading.CreationTime</td>
        </tr>
    }
    </tbody>
</table>