<button type="button" class="btn btn-default" (click)="newNetwork()">Create new Neural Network</button>

<p *ngIf="!neuralNetworks">
    <em>Loading...</em>
</p>

<table class="table" *ngIf="neuralNetworks">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Trained people count</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let network of neuralNetworks">
            <td>{{ network.id }}</td>
            <td>{{ network.name }}</td>
            <td>{{ network.people.length  }}</td>
            <td>{{ network.status }}</td>
            <td class="btn btn-success" (click)="showNetwork(network.id)">Show</td>
            <td class="btn btn-danger" (click)="deleteNetwork(network.id)">Delete</td>
        </tr>
    </tbody>
</table>