@model WebRazor.Models.Detection.NewDetection
@using (Html.BeginForm("Create", "Detection", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">

        <input type="submit" value="Submit strongly type synchronous form" />
        <h1>New Face Detection request form</h1>
        <div class="row">
            <div class="col-md-3">
                <label for="name">Name</label>
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Name)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="file">File</label>
            </div>
            @Html.ValidationMessageFor(x => x.File)
            <div class="col-md-3">
                <div>
                    @Html.TextBoxFor(m => m.File, new { type = "file", @class = "input-file" })
                </div>
            </div>
        </div>
    </div>
}